.customersHeader {
	color: white;
	-webkit-text-stroke: 1px #55608f;
	font-size: 40px;
}

.addNewCustomerHeader {
	margin-top: -20px !important;
	margin-bottom: 15px !important;
	--button-default-height: 50px !important;
	--button-default-font-size: 18px !important;
	--button-default-border-radius: 5px;
	--button-horizontal-padding: 20px;
	--button-vertical-padding: 5px;
	--button-raise-level: 0px;
	--button-hover-pressure: 1;
	--transform-speed: 0.175s;
	--button-primary-color: #55608f !important;
	--button-primary-color-dark: #3d50a1;
	--button-primary-color-light: white !important;
	--button-primary-color-hover: #7f92e6;
	--button-primary-color-active: #556193;
	--button-primary-border: none;

	&:hover {
		--button-primary-color-light: white;
	}
}
.returnFilm {
	align-items: center;
	align-content: center;
	display: flex;
	justify-content: center;
}

.returnFilmInput {
	height: 25px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	cursor: text;
	border-radius: 5px;
	color: #55608f;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;

	&::placeholder {
		color: #55608f;
	}

	&:focus::placeholder {
		color: transparent;
	}
}

.registrationForm {
	display: inline-flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.firstNameInput,
.lastNameInput {
	height: 25px;
	width: 300px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	cursor: text;
	border-radius: 5px;
	color: #55608f;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;

	&::placeholder {
		color: #55608f;
	}

	&:focus::placeholder {
		color: transparent;
	}
}

.emailInput {
	height: 25px;
	width: 350px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	cursor: text;
	border-radius: 5px;
	color: #55608f;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;

	&::placeholder {
		color: #55608f;
	}

	&:focus::placeholder {
		color: transparent;
	}
}
