.allFilmsHeader {
	color: white;
	-webkit-text-stroke: 1px #55608f;
	font-size: 40px;
}

.rentFilm {
	align-items: center;
	align-content: center;
	display: flex;
	justify-content: center;
}

.rentFilmInput {
	height: 25px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	cursor: text;
	border-radius: 5px;
	color: #55608f;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;

	&::placeholder {
		color: #55608f;
	}

	&:focus::placeholder {
		color: transparent;
	}
}
