/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	justify-content: center;
	text-align: center;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #ffe5b4;
	color: #55608f;
	font-size: 20px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 1s;
}
.modal-content ul {
	list-style-type: none;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

/* Modal Header */
.modal-header {
	padding: 15.5px;
	color: white;
	background-color: #55608f;
	font-size: xx-large;
	display: inline-flex;
	inline-size: 100%;
	flex-direction: row;
}
.modal-title {
	margin: 0 auto;
	position: relative;
	left: 4%;
}

/* Close Button */
.closeBtn {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	border-radius: 50%;
	background: transparent;
	color: white;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;

	&:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #7f92e6;
	}

	&:hover {
		background: white;
		color: #55608f;
		cursor: pointer;
	}

	&:before,
	&:after {
		position: absolute;
		top: 15%;
		left: calc(50% - 0.0625em);
		width: 0.125em;
		height: 70%;
		border-radius: 0.125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: "";
	}

	&:after {
		transform: rotate(-45deg);
	}
}

/* Modal Footer */
.modal-footer {
	padding: 2px;
	background-color: #55608f;
	color: white;
}

/* .primaryBtn {
	overflow: hidden;
	background: transparent;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border-color: white;
	padding: 7px;
	position: relative;
	left: 1%;

	&:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #92a4f6;
	}

	&:hover {
		background: white;
		color: #55608f;
		cursor: pointer;
	}
} */
